<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CSS"/>
        <filter
          name="CUDA"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="node_modules">
        <dir
          name="@babel">
          <dir
            name="parser">
            <dir
              name="bin"/>
            <dir
              name="lib"/>
            <dir
              name="typings"/>
          </dir>
        </dir>
        <dir
          name="@nodelib">
          <dir
            name="fs.scandir">
            <dir
              name="out">
              <dir
                name="adapters"/>
              <dir
                name="providers"/>
              <dir
                name="types"/>
              <dir
                name="utils"/>
            </dir>
          </dir>
          <dir
            name="fs.stat">
            <dir
              name="out">
              <dir
                name="adapters"/>
              <dir
                name="providers"/>
              <dir
                name="types"/>
            </dir>
          </dir>
          <dir
            name="fs.walk">
            <dir
              name="out">
              <dir
                name="providers"/>
              <dir
                name="readers"/>
              <dir
                name="types"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="@supabase">
          <dir
            name="functions-js">
            <dir
              name="dist">
              <dir
                name="main"/>
              <dir
                name="module"/>
            </dir>
            <dir
              name="src"/>
          </dir>
          <dir
            name="gotrue-js">
            <dir
              name="dist">
              <dir
                name="main">
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="module">
                <dir
                  name="lib"/>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="lib"/>
            </dir>
          </dir>
          <dir
            name="postgrest-js">
            <dir
              name="dist">
              <dir
                name="main"/>
              <dir
                name="module"/>
            </dir>
            <dir
              name="src"/>
          </dir>
          <dir
            name="realtime-js">
            <dir
              name="dist">
              <dir
                name="main">
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="module">
                <dir
                  name="lib"/>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="lib"/>
            </dir>
          </dir>
          <dir
            name="storage-js">
            <dir
              name="dist">
              <dir
                name="main">
                <dir
                  name="lib"/>
                <dir
                  name="packages"/>
              </dir>
              <dir
                name="module">
                <dir
                  name="lib"/>
                <dir
                  name="packages"/>
              </dir>
              <dir
                name="umd"/>
            </dir>
            <dir
              name="src">
              <dir
                name="lib"/>
              <dir
                name="packages"/>
            </dir>
          </dir>
          <dir
            name="supabase-js">
            <dir
              name="dist">
              <dir
                name="main">
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="module">
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="umd"/>
            </dir>
            <dir
              name="src">
              <dir
                name="lib"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="@types">
          <dir
            name="node">
            <dir
              name="assert"/>
            <dir
              name="dns"/>
            <dir
              name="fs"/>
            <dir
              name="readline"/>
            <dir
              name="stream"/>
            <dir
              name="timers"/>
            <dir
              name="ts4.8">
              <dir
                name="assert"/>
              <dir
                name="dns"/>
              <dir
                name="fs"/>
              <dir
                name="readline"/>
              <dir
                name="stream"/>
              <dir
                name="timers"/>
            </dir>
          </dir>
          <dir
            name="phoenix"/>
          <dir
            name="websocket"/>
        </dir>
        <dir
          name="@vitejs">
          <dir
            name="plugin-vue">
            <dir
              name="dist"/>
          </dir>
        </dir>
        <dir
          name="@vue">
          <dir
            name="compiler-core">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="compiler-dom">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="compiler-sfc">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="compiler-ssr">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="devtools-api">
            <dir
              name="lib">
              <dir
                name="cjs">
                <dir
                  name="api"/>
              </dir>
              <dir
                name="esm">
                <dir
                  name="api"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="reactivity">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="reactivity-transform">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="runtime-core">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="runtime-dom">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="server-renderer">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="shared">
            <dir
              name="dist"/>
          </dir>
        </dir>
        <dir
          name="acorn">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="acorn-node">
          <dir
            name="lib">
            <dir
              name="bigint"/>
            <dir
              name="class-fields"/>
            <dir
              name="dynamic-import"/>
            <dir
              name="export-ns-from"/>
            <dir
              name="import-meta"/>
            <dir
              name="numeric-separator"/>
            <dir
              name="private-class-elements"/>
            <dir
              name="static-class-features"/>
          </dir>
          <dir
            name="test"/>
        </dir>
        <dir
          name="acorn-walk">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="anymatch"/>
        <dir
          name="arg"/>
        <dir
          name="asynckit">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="autoprefixer">
          <dir
            name="data"/>
          <dir
            name="lib">
            <dir
              name="hacks"/>
          </dir>
        </dir>
        <dir
          name="axios">
          <dir
            name="dist">
            <dir
              name="esm"/>
          </dir>
          <dir
            name="lib">
            <dir
              name="adapters"/>
            <dir
              name="cancel"/>
            <dir
              name="core"/>
            <dir
              name="defaults"/>
            <dir
              name="env">
              <dir
                name="classes"/>
            </dir>
            <dir
              name="helpers"/>
            <dir
              name="platform">
              <dir
                name="browser">
                <dir
                  name="classes"/>
              </dir>
              <dir
                name="node">
                <dir
                  name="classes"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="binary-extensions"/>
        <dir
          name="braces">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="browserslist"/>
        <dir
          name="bufferutil">
          <dir
            name="src"/>
        </dir>
        <dir
          name="camelcase-css"/>
        <dir
          name="caniuse-lite">
          <dir
            name="data">
            <dir
              name="features"/>
            <dir
              name="regions"/>
          </dir>
          <dir
            name="dist">
            <dir
              name="lib"/>
            <dir
              name="unpacker"/>
          </dir>
        </dir>
        <dir
          name="chokidar">
          <dir
            name="lib"/>
          <dir
            name="node_modules">
            <dir
              name="glob-parent"/>
          </dir>
          <dir
            name="types"/>
        </dir>
        <dir
          name="color"/>
        <dir
          name="color-convert"/>
        <dir
          name="color-name"/>
        <dir
          name="color-string"/>
        <dir
          name="combined-stream">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="cross-fetch">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="css-selector-tokenizer">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="cssesc"/>
        <dir
          name="csstype"/>
        <dir
          name="d">
          <dir
            name="test"/>
        </dir>
        <dir
          name="daisyui">
          <dir
            name="dist"/>
          <dir
            name="src">
            <dir
              name="colors"/>
            <dir
              name="lib">
              <dir
                name="postcss-prefixer"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="debug">
          <dir
            name="src"/>
        </dir>
        <dir
          name="defined">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="delayed-stream">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="detective">
          <dir
            name="bench"/>
          <dir
            name="bin"/>
          <dir
            name="example"/>
          <dir
            name="test">
            <dir
              name="files"/>
          </dir>
        </dir>
        <dir
          name="didyoumean"/>
        <dir
          name="dlv">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="dotenv">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="electron-to-chromium"/>
        <dir
          name="es5-ext">
          <dir
            name="array">
            <dir
              name="#">
              <dir
                name="@@iterator"/>
              <dir
                name="concat"/>
              <dir
                name="copy-within"/>
              <dir
                name="entries"/>
              <dir
                name="fill"/>
              <dir
                name="filter"/>
              <dir
                name="find"/>
              <dir
                name="find-index"/>
              <dir
                name="keys"/>
              <dir
                name="map"/>
              <dir
                name="slice"/>
              <dir
                name="splice"/>
              <dir
                name="values"/>
            </dir>
            <dir
              name="from"/>
            <dir
              name="of"/>
          </dir>
          <dir
            name="boolean"/>
          <dir
            name="date">
            <dir
              name="#"/>
          </dir>
          <dir
            name="error">
            <dir
              name="#"/>
          </dir>
          <dir
            name="function">
            <dir
              name="#"/>
          </dir>
          <dir
            name="iterable"/>
          <dir
            name="json"/>
          <dir
            name="math">
            <dir
              name="acosh"/>
            <dir
              name="asinh"/>
            <dir
              name="atanh"/>
            <dir
              name="cbrt"/>
            <dir
              name="clz32"/>
            <dir
              name="cosh"/>
            <dir
              name="expm1"/>
            <dir
              name="fround"/>
            <dir
              name="hypot"/>
            <dir
              name="imul"/>
            <dir
              name="log10"/>
            <dir
              name="log1p"/>
            <dir
              name="log2"/>
            <dir
              name="sign"/>
            <dir
              name="sinh"/>
            <dir
              name="tanh"/>
            <dir
              name="trunc"/>
          </dir>
          <dir
            name="number">
            <dir
              name="#"/>
            <dir
              name="epsilon"/>
            <dir
              name="is-finite"/>
            <dir
              name="is-integer"/>
            <dir
              name="is-nan"/>
            <dir
              name="is-safe-integer"/>
            <dir
              name="max-safe-integer"/>
            <dir
              name="min-safe-integer"/>
          </dir>
          <dir
            name="object">
            <dir
              name="assign"/>
            <dir
              name="entries"/>
            <dir
              name="keys"/>
            <dir
              name="set-prototype-of"/>
          </dir>
          <dir
            name="promise">
            <dir
              name="#">
              <dir
                name="finally"/>
            </dir>
          </dir>
          <dir
            name="reg-exp">
            <dir
              name="#">
              <dir
                name="match"/>
              <dir
                name="replace"/>
              <dir
                name="search"/>
              <dir
                name="split"/>
              <dir
                name="sticky"/>
              <dir
                name="unicode"/>
            </dir>
          </dir>
          <dir
            name="string">
            <dir
              name="#">
              <dir
                name="@@iterator"/>
              <dir
                name="code-point-at"/>
              <dir
                name="contains"/>
              <dir
                name="ends-with"/>
              <dir
                name="normalize"/>
              <dir
                name="repeat"/>
              <dir
                name="starts-with"/>
            </dir>
            <dir
              name="from-code-point"/>
            <dir
              name="raw"/>
          </dir>
        </dir>
        <dir
          name="es6-iterator">
          <dir
            name="#"/>
          <dir
            name="test">
            <dir
              name="#"/>
          </dir>
        </dir>
        <dir
          name="es6-symbol">
          <dir
            name="lib">
            <dir
              name="private">
              <dir
                name="setup"/>
            </dir>
          </dir>
          <dir
            name="test"/>
        </dir>
        <dir
          name="esbuild">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="escalade">
          <dir
            name="dist"/>
          <dir
            name="sync"/>
        </dir>
        <dir
          name="estree-walker">
          <dir
            name="dist">
            <dir
              name="esm"/>
            <dir
              name="umd"/>
          </dir>
          <dir
            name="src"/>
          <dir
            name="types"/>
        </dir>
        <dir
          name="ext">
          <dir
            name="function"/>
          <dir
            name="global-this"/>
          <dir
            name="lib">
            <dir
              name="private"/>
          </dir>
          <dir
            name="math"/>
          <dir
            name="node_modules">
            <dir
              name="type">
              <dir
                name="array"/>
              <dir
                name="array-length"/>
              <dir
                name="array-like"/>
              <dir
                name="big-int"/>
              <dir
                name="constructor"/>
              <dir
                name="date"/>
              <dir
                name="error"/>
              <dir
                name="finite"/>
              <dir
                name="function"/>
              <dir
                name="integer"/>
              <dir
                name="iterable"/>
              <dir
                name="lib">
                <dir
                  name="ensure"/>
              </dir>
              <dir
                name="map"/>
              <dir
                name="natural-number"/>
              <dir
                name="number"/>
              <dir
                name="object"/>
              <dir
                name="plain-function"/>
              <dir
                name="plain-object"/>
              <dir
                name="promise"/>
              <dir
                name="prototype"/>
              <dir
                name="reg-exp"/>
              <dir
                name="safe-integer"/>
              <dir
                name="set"/>
              <dir
                name="string"/>
              <dir
                name="thenable"/>
              <dir
                name="time-value"/>
              <dir
                name="ts-types">
                <dir
                  name="array"/>
                <dir
                  name="array-length"/>
                <dir
                  name="array-like"/>
                <dir
                  name="big-int"/>
                <dir
                  name="constructor"/>
                <dir
                  name="date"/>
                <dir
                  name="error"/>
                <dir
                  name="finite"/>
                <dir
                  name="function"/>
                <dir
                  name="integer"/>
                <dir
                  name="iterable"/>
                <dir
                  name="map"/>
                <dir
                  name="natural-number"/>
                <dir
                  name="number"/>
                <dir
                  name="object"/>
                <dir
                  name="plain-function"/>
                <dir
                  name="plain-object"/>
                <dir
                  name="promise"/>
                <dir
                  name="prototype"/>
                <dir
                  name="reg-exp"/>
                <dir
                  name="safe-integer"/>
                <dir
                  name="set"/>
                <dir
                  name="string"/>
                <dir
                  name="thenable"/>
                <dir
                  name="time-value"/>
                <dir
                  name="value"/>
              </dir>
              <dir
                name="value"/>
            </dir>
          </dir>
          <dir
            name="object">
            <dir
              name="entries"/>
          </dir>
          <dir
            name="promise"/>
          <dir
            name="string"/>
          <dir
            name="string_">
            <dir
              name="includes"/>
          </dir>
          <dir
            name="thenable_"/>
        </dir>
        <dir
          name="fast-glob">
          <dir
            name="node_modules">
            <dir
              name="glob-parent"/>
          </dir>
          <dir
            name="out">
            <dir
              name="managers"/>
            <dir
              name="providers">
              <dir
                name="filters"/>
              <dir
                name="matchers"/>
              <dir
                name="transformers"/>
            </dir>
            <dir
              name="readers"/>
            <dir
              name="types"/>
            <dir
              name="utils"/>
          </dir>
        </dir>
        <dir
          name="fastparse">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="fastq">
          <dir
            name="test"/>
        </dir>
        <dir
          name="fill-range"/>
        <dir
          name="follow-redirects"/>
        <dir
          name="form-data">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="fraction.js"/>
        <dir
          name="function-bind">
          <dir
            name="test"/>
        </dir>
        <dir
          name="glob-parent"/>
        <dir
          name="has">
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="is-arrayish"/>
        <dir
          name="is-binary-path"/>
        <dir
          name="is-core-module">
          <dir
            name="test"/>
        </dir>
        <dir
          name="is-extglob"/>
        <dir
          name="is-glob"/>
        <dir
          name="is-number"/>
        <dir
          name="is-typedarray"/>
        <dir
          name="lilconfig">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="magic-string">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="merge2"/>
        <dir
          name="micromatch"/>
        <dir
          name="mime-db"/>
        <dir
          name="mime-types"/>
        <dir
          name="minimist">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="ms"/>
        <dir
          name="nanoid">
          <dir
            name="async"/>
          <dir
            name="non-secure"/>
          <dir
            name="url-alphabet"/>
        </dir>
        <dir
          name="next-tick">
          <dir
            name="test"/>
        </dir>
        <dir
          name="node-fetch">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="node-gyp-build"/>
        <dir
          name="normalize-path"/>
        <dir
          name="normalize-range"/>
        <dir
          name="object-hash">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="path-parse"/>
        <dir
          name="picocolors"/>
        <dir
          name="picomatch">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="pify"/>
        <dir
          name="postcss">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="postcss-import">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="postcss-js"/>
        <dir
          name="postcss-load-config">
          <dir
            name="src"/>
        </dir>
        <dir
          name="postcss-nested"/>
        <dir
          name="postcss-selector-parser">
          <dir
            name="dist">
            <dir
              name="selectors"/>
            <dir
              name="util"/>
          </dir>
        </dir>
        <dir
          name="postcss-value-parser">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="prettier"/>
        <dir
          name="prettier-plugin-tailwindcss">
          <dir
            name="dist">
            <dir
              name="css"/>
          </dir>
        </dir>
        <dir
          name="proxy-from-env"/>
        <dir
          name="queue-microtask"/>
        <dir
          name="quick-lru"/>
        <dir
          name="read-cache"/>
        <dir
          name="readdirp"/>
        <dir
          name="resolve">
          <dir
            name="example"/>
          <dir
            name="lib"/>
          <dir
            name="test">
            <dir
              name="dotdot">
              <dir
                name="abc"/>
            </dir>
            <dir
              name="module_dir">
              <dir
                name="xmodules">
                <dir
                  name="aaa"/>
              </dir>
              <dir
                name="ymodules">
                <dir
                  name="aaa"/>
              </dir>
              <dir
                name="zmodules">
                <dir
                  name="bbb"/>
              </dir>
            </dir>
            <dir
              name="node_path">
              <dir
                name="x">
                <dir
                  name="aaa"/>
                <dir
                  name="ccc"/>
              </dir>
              <dir
                name="y">
                <dir
                  name="bbb"/>
                <dir
                  name="ccc"/>
              </dir>
            </dir>
            <dir
              name="pathfilter">
              <dir
                name="deep_ref"/>
            </dir>
            <dir
              name="precedence">
              <dir
                name="aaa"/>
              <dir
                name="bbb"/>
            </dir>
            <dir
              name="resolver">
              <dir
                name="baz"/>
              <dir
                name="browser_field"/>
              <dir
                name="dot_main"/>
              <dir
                name="dot_slash_main"/>
              <dir
                name="false_main"/>
              <dir
                name="incorrect_main"/>
              <dir
                name="malformed_package_json"/>
              <dir
                name="multirepo">
                <dir
                  name="packages">
                  <dir
                    name="package-a"/>
                  <dir
                    name="package-b"/>
                </dir>
              </dir>
              <dir
                name="nested_symlinks">
                <dir
                  name="mylib"/>
              </dir>
              <dir
                name="other_path">
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="quux">
                <dir
                  name="foo"/>
              </dir>
              <dir
                name="same_names">
                <dir
                  name="foo"/>
              </dir>
              <dir
                name="symlinked">
                <dir
                  name="_">
                  <dir
                    name="node_modules"/>
                </dir>
                <dir
                  name="package"/>
              </dir>
              <dir
                name="without_basedir"/>
            </dir>
            <dir
              name="shadowed_core">
              <dir
                name="node_modules">
                <dir
                  name="util"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="reusify">
          <dir
            name="benchmarks"/>
        </dir>
        <dir
          name="rollup">
          <dir
            name="dist">
            <dir
              name="es">
              <dir
                name="shared"/>
            </dir>
            <dir
              name="shared"/>
          </dir>
        </dir>
        <dir
          name="run-parallel"/>
        <dir
          name="simple-swizzle"/>
        <dir
          name="source-map">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="source-map-js">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="sourcemap-codec">
          <dir
            name="dist">
            <dir
              name="types"/>
          </dir>
        </dir>
        <dir
          name="ssr-window">
          <dir
            name="types"/>
        </dir>
        <dir
          name="supports-preserve-symlinks-flag">
          <dir
            name="test"/>
        </dir>
        <dir
          name="swiper">
          <dir
            name="components-shared"/>
          <dir
            name="core">
            <dir
              name="breakpoints"/>
            <dir
              name="check-overflow"/>
            <dir
              name="classes"/>
            <dir
              name="events"/>
            <dir
              name="grab-cursor"/>
            <dir
              name="loop"/>
            <dir
              name="modules">
              <dir
                name="observer"/>
              <dir
                name="resize"/>
            </dir>
            <dir
              name="slide"/>
            <dir
              name="transition"/>
            <dir
              name="translate"/>
            <dir
              name="update"/>
          </dir>
          <dir
            name="element"/>
          <dir
            name="modules">
            <dir
              name="a11y"/>
            <dir
              name="autoplay"/>
            <dir
              name="controller"/>
            <dir
              name="effect-cards"/>
            <dir
              name="effect-coverflow"/>
            <dir
              name="effect-creative"/>
            <dir
              name="effect-cube"/>
            <dir
              name="effect-fade"/>
            <dir
              name="effect-flip"/>
            <dir
              name="free-mode"/>
            <dir
              name="grid"/>
            <dir
              name="hash-navigation"/>
            <dir
              name="history"/>
            <dir
              name="keyboard"/>
            <dir
              name="manipulation">
              <dir
                name="methods"/>
            </dir>
            <dir
              name="mousewheel"/>
            <dir
              name="navigation"/>
            <dir
              name="pagination"/>
            <dir
              name="parallax"/>
            <dir
              name="scrollbar"/>
            <dir
              name="thumbs"/>
            <dir
              name="virtual"/>
            <dir
              name="zoom"/>
          </dir>
          <dir
            name="react"/>
          <dir
            name="shared"/>
          <dir
            name="types">
            <dir
              name="modules"/>
          </dir>
          <dir
            name="vue"/>
        </dir>
        <dir
          name="tailwindcss">
          <dir
            name="lib">
            <dir
              name="cli">
              <dir
                name="build"/>
              <dir
                name="help"/>
              <dir
                name="init"/>
            </dir>
            <dir
              name="css"/>
            <dir
              name="lib"/>
            <dir
              name="postcss-plugins">
              <dir
                name="nesting"/>
            </dir>
            <dir
              name="public"/>
            <dir
              name="util"/>
          </dir>
          <dir
            name="nesting"/>
          <dir
            name="peers"/>
          <dir
            name="scripts"/>
          <dir
            name="src">
            <dir
              name="cli">
              <dir
                name="build"/>
              <dir
                name="help"/>
              <dir
                name="init"/>
            </dir>
            <dir
              name="css"/>
            <dir
              name="lib"/>
            <dir
              name="postcss-plugins">
              <dir
                name="nesting"/>
            </dir>
            <dir
              name="public"/>
            <dir
              name="util"/>
          </dir>
          <dir
            name="stubs"/>
          <dir
            name="types">
            <dir
              name="generated"/>
          </dir>
        </dir>
        <dir
          name="to-regex-range"/>
        <dir
          name="tr46"/>
        <dir
          name="type">
          <dir
            name="array"/>
          <dir
            name="array-length"/>
          <dir
            name="array-like"/>
          <dir
            name="date"/>
          <dir
            name="error"/>
          <dir
            name="finite"/>
          <dir
            name="function"/>
          <dir
            name="integer"/>
          <dir
            name="iterable"/>
          <dir
            name="lib"/>
          <dir
            name="natural-number"/>
          <dir
            name="number"/>
          <dir
            name="object"/>
          <dir
            name="plain-function"/>
          <dir
            name="plain-object"/>
          <dir
            name="promise"/>
          <dir
            name="prototype"/>
          <dir
            name="reg-exp"/>
          <dir
            name="safe-integer"/>
          <dir
            name="string"/>
          <dir
            name="test">
            <dir
              name="_lib"/>
            <dir
              name="array"/>
            <dir
              name="array-length"/>
            <dir
              name="array-like"/>
            <dir
              name="date"/>
            <dir
              name="error"/>
            <dir
              name="finite"/>
            <dir
              name="function"/>
            <dir
              name="integer"/>
            <dir
              name="iterable"/>
            <dir
              name="lib"/>
            <dir
              name="natural-number"/>
            <dir
              name="number"/>
            <dir
              name="object"/>
            <dir
              name="plain-function"/>
            <dir
              name="plain-object"/>
            <dir
              name="promise"/>
            <dir
              name="prototype"/>
            <dir
              name="reg-exp"/>
            <dir
              name="safe-integer"/>
            <dir
              name="string"/>
            <dir
              name="thenable"/>
            <dir
              name="time-value"/>
            <dir
              name="value"/>
          </dir>
          <dir
            name="thenable"/>
          <dir
            name="time-value"/>
          <dir
            name="value"/>
        </dir>
        <dir
          name="typedarray-to-buffer">
          <dir
            name="test"/>
        </dir>
        <dir
          name="update-browserslist-db"/>
        <dir
          name="utf-8-validate">
          <dir
            name="src"/>
        </dir>
        <dir
          name="util-deprecate"/>
        <dir
          name="vite">
          <dir
            name="bin"/>
          <dir
            name="dist">
            <dir
              name="node">
              <dir
                name="chunks"/>
            </dir>
          </dir>
          <dir
            name="types"/>
        </dir>
        <dir
          name="vue">
          <dir
            name="compiler-sfc"/>
          <dir
            name="dist"/>
          <dir
            name="server-renderer"/>
        </dir>
        <dir
          name="vue-router">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="webidl-conversions">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="websocket">
          <dir
            name="lib"/>
          <dir
            name="vendor"/>
        </dir>
        <dir
          name="whatwg-url">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="xtend"/>
        <dir
          name="yaeti">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="yaml">
          <dir
            name="browser">
            <dir
              name="dist"/>
            <dir
              name="types"/>
          </dir>
          <dir
            name="dist"/>
          <dir
            name="types"/>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="lib"/>
        <dir
          name="router"/>
        <dir
          name="views"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_trunc="0"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
